---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'
import { getCollection } from 'astro:content';
const code = await getCollection('code');
const pages = await getCollection('posts');
const MAX_POSTS = 4
const latestPosts = [].concat(code, pages)
	.sort((data_a, data_b) => {
		return new Date(data_b.data.date) - new Date(data_a.data.date)
	}).slice(0,MAX_POSTS)

---

<Layout title="rocketsgoto.space">

		<p class="intro">
			Stuff I made Recently:
		</p>
			{latestPosts.map(({ collection, slug, data }) =>
				<Card title={data.title},
					  description={data.description}
					  href={`/${collection}/${slug}`}
				datestring={data.date}>
				</Card>
			)}

</Layout>

