---
import { getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro"

export async function getStaticPaths({ paginate }) {
    const pages = await getCollection('posts');
    // Generate pages from our array of astronauts, with 2 to a page for testing
  return paginate(pages, { pageSize: 3 });
    }
// All paginated data is passed on the "page" prop
const { page } = Astro.props;
---
<Layout title=`rocketsgotospace - Posts Page ${page.currentPage}`>
        {page.data.map(({ data, slug, collection }) => {
            return <Card
                title={data.title}
                description={data.description}
                href={`/${collection}/${slug}`}
                datestring={data.date}>
            </Card>})}


    <table class="navtable">
        <tr class="navtable">
            <td class="navtable">
                {page.url.next ? <a href=`${page.url.next}`>Next</a> : "Next"}
            </td>
            <td class="navtable">
                {page.url.prev ? <a href=`${page.url.prev}`>Prev</a> : "Prev"}
            </td>
            <td class="navtable">
                {page.currentPage !== 1 ? <a href="/postindex">First</a> : "First"}
            </td>
            <td class="navtable">
                {page.currentPage !== page.lastPage ? <a href=`/postindex/${page.lastPage}`>Last</a> : "Last"}
            </td>
        </tr>
    </table>
</Layout>
